<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Image Search Abstraction Layer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>

<body class="container-fluid">
    <h4 class="text-center"><strong>Free Code Camp Back End Project #4 - Image Search Abstraction Layer</strong></h4>
    <pre class="text-left col-lg-6 col-lg-offset-3">
<strong>Usage</strong>
https://chrismaguilar.com/image-search/api/search/funny cats?limit=20
If offset is not provided, it will default to 10; max is 60.


<strong>Output</strong>
[
  {
    title: "Haha look at my funny cat!"
    description: "It's so funny!"
    link: "http://i.imgur.com/somelink.gif"
    thumbnail: "http://i.imgur.com/somelinks.png"
  },
  {
    title: "I left my cat at home for 30 minutes"
    description: "Now there's toilet paper all over my house."
    link: "http://i.imgur.com/12345.jpg"
    thumbnail: "http://i.imgur.com/12345s.png"
  }
  ...
]


Go to <strong>https://chrismaguilar.com/image-search/api/latest</strong> for recent queries.
    </pre>
</body>

</html>
